html,
body {
    font-family: 'Segoe UI';
    height: 100%;
}

header.masthead {
    padding-top: 4rem;
    height: 100%;
    background: url("../images/pic_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead .left {
    margin-top: 50px;
}

header.masthead .left h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 100;
}

.nav-link {
    color: #ffffff !important;
}

.footer {
    border-style: solid;
    border-width: 0 0 12vh 80vw;
    border-color: transparent transparent #70A1FF transparent;
}

.header {
    border-style: solid;
    border-width: 12vh 80vw 0 0;
    border-color: #70A1FF transparent transparent transparent;
}

.header .content {
    position: absolute;
    top: 10%;
    left: 10px;
    color: #ffffff;
}

.header .content ul {
    list-style: none;
    height: auto;
}
.header .content ul li{
    margin-left: -40px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer .content {
    position: absolute;
    right: 2%;
    bottom: 10%;
    color: #ffffff;
}

.footer .content ul {
    list-style: none;
    height: auto;
}
.footer .content ul li{
    float: left;
    margin-left: 6px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer .content ul li .arrow{
    font-size: 2rem;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #70A1FF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}


.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    color: #000000;
}

.navbar-scrolled .nav-link {
    color: #000000 !important;
}

.navbar-scrolled .navbar-brand {
    color: #000000;
}

header.masthead .btn-pri {
    width: 90%;
    padding: 10px 30px;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #70A1FF;
    font-weight: 600;
    color: #ffffff;
}

header.masthead .btn-pri:focus {
    outline: none;
}

header.masthead .btn-pri:hover {
    color: #70A1FF;
    background-color: #ffffff;
    border-color: #70A1FF;
}


hr.divider {
    max-width: 50%;
    border-width: 0.2rem;
    border-color: #70A1FF;
}

.services-section {
    background-color: #70A1FF;
}

.services-section .service {
    color: #ffffff;
}

.services-section .service img {
    height: 50%;
    width: 100%;
}

.services-section .service h1 {
    font-size: 2.6rem;
}

.services-section .service hr {
    max-width: 25%;
    border-width: 0.2rem;
    border-color: #ffffff;
}

.services-section .service .btn-get {
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0px solid #ffffff;
    background-color: #ffffff;
    color: #70A1FF;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.services-section .service .btn-get:focus {
    outline: none;
}

.appoint-section .content-block img {
    height: 100%;
    width: 80%;
    -webkit-box-shadow: 12px -12px 0px 0px rgba(238, 238, 238, 1);
    -moz-box-shadow: 12px -12px 0px 0px rgba(238, 238, 238, 1);
    box-shadow: 12px -12px 0px 0px rgba(238, 238, 238, 1);
}

.appoint-section .content-block .btn-get{
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0px solid #70A1FF;
    background-color: #70A1FF;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.appoint-section .content-block .btn-get:focus{
    outline: none;
}

.review-section {
    background-color: #ffffff;
}

.review-section .review {
    color: #000000;
}

.review-section .review img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.review-section .review .highlight{
    background-color: #70A1FF;
}
.contact-section .contact span{
    color: #70A1FF;
}



@media (max-width: 991px) {
    .navbar {
        background-color: #ffffff;
    }

    .navbar .nav-link,
    .navbar .navbar-brand {
        color: #000000 !important;
    }

    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    header.masthead {
        height: auto;
    }

    header.masthead .btn-pri {
        width: 60%;
    }
    .review-section .review img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: 0% 20%;
    }
   
}

@media (max-width: 767px) {
    header.masthead .left h1 {
        font-size: 2.25rem;
    }

    header.masthead .btn-pri {
        font-size: 1.2rem;
    }
    .footer .content ul li{
        margin-left: 5px;
        font-size: 1.25rem;
    }
    
    .footer .content ul li .arrow{
        font-size: 1.8rem;
        width: 20px;
        height: 20px;
    }
    .header .content ul li{
        font-size: 1.2rem;
    }
}